/*! Imports */

// tailwind
// @import base;
// @import components;
// @import utilities;

/*! base scss */
@import "abstracts/decoration";
@import "partials/base";

/*! extended */
@import "specificPages/landing";
@import "specificPages/home";
@import "specificPages/catalogue";
@import "specificPages/aboutus";

/*! root scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  /*! background: red; */
}

/* header section */

p {
  margin: 0;
}

.hide {
  display: none;
}

section {
  position: relative;
}

.row {
  margin: 0;
}

/*! footer */
#footer {
  position: static;
  display: block;
  bottom: 0;
  width: 100%;
  background: #000;
  color: #fff;
  margin: auto;
  padding: 3%;
  text-align: center;
}

.socialMedia {
  /*! width: 20%; */
  display: flex;
  justify-content: center;

  i {
    margin: 1% 10px 2%;
  }
}

.socialMedia i:hover {
  cursor: pointer;
}

.fa-facebook-f:hover {
  color: #129cf7;
}

.fa-twitter:hover {
  color: #1d9bf0;
}

.fa-instagram:hover {
  color: #f67340;
}

.fa-pinterest-p:hover {
  color: #b7091b;
}

.fa-youtube:hover {
  color: #ff0100;
}

/*! import media queries */
@import "partials/mediaqueries";
