/*! Imports */
/*! base scss */
/*! root scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  /*! background: red; */
}

/* all images */
img {
  object-fit: cover;
}

/* navbar */
nav a:hover {
  text-decoration: underline;
}

/* header section */
p {
  margin: 0;
}

.hide {
  display: none;
}

section {
  position: relative;
}

.row {
  margin: 0;
}

/*! footer */
#footer {
  position: static;
  display: block;
  bottom: 0;
  width: 100%;
  background: #000;
  color: #fff;
  margin: 30px auto 0;
  padding: 3%;
  text-align: center;
}

.socialMedia {
  /*! width: 20%; */
  display: flex;
  justify-content: center;
}
.socialMedia i {
  margin: 1% 10px 2%;
}

.socialMedia i:hover {
  cursor: pointer;
}

.fa-facebook-f:hover {
  color: #129cf7;
}

.fa-twitter:hover {
  color: #1d9bf0;
}

.fa-instagram:hover {
  color: #f67340;
}

.fa-pinterest-p:hover {
  color: #b7091b;
}

.fa-youtube:hover {
  color: #ff0100;
}

#slowhaleIcon {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 20%;
}

body {
  background: #f8f9fa;
}

header {
  border-bottom: 1px solid black;
  padding: 0.5%;
  text-align: center;
  background-color: #00ffff;
  color: #000000;
}

.looker {
  border: 2px solid red;
}

.active {
  text-decoration: underline;
}

.btn-outline-info:hover {
  background-color: #00ffff;
}

/*! extended */
#landingPage {
  background: linear-gradient(to left, #fffff0, #87cefa);
}
#landingPage nav {
  background: linear-gradient(to left, #fffff0, #87cefa);
}
#landingPage .coFounders {
  background: linear-gradient(to left, #fffff0, #87cefa);
}

#landing {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#row1,
#row2,
#row3,
#row4 {
  padding: 0;
}

/*! Sneak Peak */
#row2 {
  width: 70%;
  margin: 0 auto 1%;
  background-color: #fff;
}

/*! About us */
#row3 {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto 3%;
  padding: 5%;
}
#row3 div {
  text-align: center;
}

.landingBanner {
  position: relative;
  margin: 1% auto;
  width: 95%;
  overflow-x: hidden;
  padding: 0;
  border: 10px solid #6c757d;
}

.bannerImages img {
  height: 100%;
}

/*! Landing banner */
/*! Images */
#firstLanding,
#secondLanding,
#thirdLanding {
  position: absolute;
  height: 100%;
}

#secondLanding {
  z-index: -1;
  left: 30%;
}

#thirdLanding {
  z-index: -2;
  right: 0;
}

/*! links */
#shoppingLink {
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 60%;
}

#shoppingLink a {
  text-decoration: none;
}

/*! sneak peak */
#column {
  position: relative;
}

#sectionHeadings {
  text-align: center;
  text-decoration: underline;
  margin: 50px 0;
}

.sneakImage .sneakPeakImages {
  width: 100%;
  height: 100%;
}

#sneakSets,
#sneakSingles,
#sneakAcc {
  height: 400px;
  position: relative;
}
#sneakSets button,
#sneakSingles button,
#sneakAcc button {
  padding: 5px 10px;
}
#sneakSets button:hover .underline,
#sneakSingles button:hover .underline,
#sneakAcc button:hover .underline {
  text-decoration: underline;
}

#sneakSingles button {
  height: 40px;
}
#sneakSingles .tops,
#sneakSingles .bottoms {
  position: relative;
  height: 50%;
}

#sneakSingles .bottoms button {
  left: 20px;
  right: auto;
}

#sneakSets button {
  position: absolute;
  right: 10%;
  bottom: 5%;
}

#sneakAcc button {
  position: absolute;
  right: 25%;
  bottom: 5%;
}

#sneakSingles button {
  position: absolute;
  right: 10%;
  top: 5%;
}

/*! more links sections */
#moreCatalogueLinks {
  position: relative;
  display: block;
}

/*! buttons */
.landingButton {
  height: auto;
  width: auto;
}

.button {
  color: #fff;
  background: #10101e30;
  padding: 1rem;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
  transition: 0.5s;
  transition-property: background, box-shadow;
}

.button:hover {
  background: #10101e;
}

/* catalogue */
.flexContainer {
  display: flex;
  justify-content: center;
  /* cosmetic */
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
  cursor: pointer;
}

.flexContainer img {
  height: 100%;
}

.flexContainer:hover .info,
.flexContainer:hover .image {
  width: 50%;
}

.flexContainer:hover .para {
  transition: visibility 1s ease-in 0.5s;
  visibility: visible;
}

.info,
.image {
  transition: all 0.15s ease-in-out 0.2s;
  /* cosmetic */
  /* color: #fff; */
}

.image {
  width: 75%;
  /* cosmetic */
  /* background: red; */
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  /* cosmetic */
  /* background: blue; */
}

.para {
  text-align: center;
  visibility: hidden;
  transition: visibility 0.5s ease-out;
}

.appear:hover .damn {
  width: 300px;
}

#about {
  background: #fff5ee;
}
#about nav {
  background: linear-gradient(to left, #fff5ee, #fff5ee);
}

#aboutUs {
  /*! positioning */
  position: relative;
  width: 100%;
  padding: 100px;
  /*! decoration */
}
#aboutUs .auContainter {
  position: relative;
  display: flex;
  flex-direction: row;
}
#aboutUs .auContainter .backgroundDec {
  /*! positioning */
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  z-index: -1;
  /*! decoration */
  border-radius: 1rem;
  background: linear-gradient(to right, #00bfff, #ff69b4);
}
#aboutUs .auContainter .Image {
  /*! positioning */
  z-index: 1;
  margin: 30px;
}
#aboutUs .auContainter .Image img {
  width: 100%;
  height: 100%;
  /*! decoration */
  border-radius: 1rem;
}
#aboutUs .auContainter .auDescription {
  /*! positioning */
  margin: 30px 0 0 10px;
  /*! decoration */
  border-radius: 1rem 1rem 1rem 0;
  padding: 50px;
  /*! text */
  color: #ffffff;
  background-color: rgba(128, 0, 255, 0.4);
  /*! color: dark purple */
}
#aboutUs .auContainter .auDescription .auDescriptionName {
  display: flex;
  align-items: center;
  height: 50%;
}
#aboutUs .auContainter .auDescription .auDescriptionInfo {
  height: 50%;
}
#aboutUs .auContainter .auDescription h1 {
  line-height: 1.6;
  text-decoration: underline;
}
#aboutUs .auContainter .auDescription h3 {
  line-height: 1.8;
}
#aboutUs .auContainterZoe {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
#aboutUs .auContainterZoe .backgroundDec {
  /*! positioning */
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  z-index: -1;
  /*! decoration */
  border-radius: 1rem;
  background: linear-gradient(to right, #00bfff, #ff69b4);
}
#aboutUs .auContainterZoe .zoeImage {
  /*! positioning */
  z-index: 1;
  margin: 30px;
}
#aboutUs .auContainterZoe .zoeImage img {
  width: 100%;
  height: 100%;
  /*! decoration */
  border-radius: 1rem;
}
#aboutUs .auContainterZoe .auDescriptionZoe {
  /*! positioning */
  margin: 30px 10px 0 0;
  /*! decoration */
  border-radius: 1rem 1rem 0 1rem;
  padding: 50px;
  /*! text */
  color: #ffffff;
  /*! text */
  color: #ffffff;
  background-color: rgba(128, 0, 255, 0.4);
}
#aboutUs .auContainterZoe .auDescriptionZoe .auDescriptionName {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50%;
}
#aboutUs .auContainterZoe .auDescriptionZoe .auDescriptionInfo {
  height: 50%;
  text-align: right;
}
#aboutUs .auContainterZoe .auDescriptionZoe h1 {
  line-height: 2;
  text-decoration: underline;
}
#aboutUs .auContainterZoe .auDescriptionZoe h3 {
  line-height: 1.8;
}

.hide {
  display: none;
}

#sizeChart {
  background: #fffff0;
}
#sizeChart nav {
  background: linear-gradient(to left, #fffff0, #fffff0);
}

#section1,
#section2 {
  padding: 30px 20px;
}
#section1 .headers,
#section2 .headers {
  width: 50%;
  margin: auto;
  text-align: center;
}
#section1 .headers h1,
#section2 .headers h1 {
  font-size: 5rem;
}
#section1 .headers h2,
#section2 .headers h2 {
  font-size: 3rem;
}
#section1 .headers h3,
#section2 .headers h3 {
  font-family: "Gideon Roman", cursive;
  font-weight: bold;
}
#section1 .headers h1,
#section1 .headers h2,
#section2 .headers h1,
#section2 .headers h2 {
  font-family: "Permanent Marker", cursive;
}
#section1 .headers h1,
#section1 .headers h2,
#section1 .headers h3,
#section2 .headers h1,
#section2 .headers h2,
#section2 .headers h3 {
  background: linear-gradient(to left, #ffa500, #ff4500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section1 .table,
#section2 .table {
  width: 80%;
  margin: auto;
  background: linear-gradient(to right, #ffa500, #ff4500);
}

#section2 .headers h1,
#section2 .headers h2,
#section2 .headers h3 {
  background: linear-gradient(to right, #adff2f, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section2 .table {
  width: 80%;
  margin: auto;
  background: linear-gradient(to left, #adff2f, #008000);
}

.text-align-center {
  text-align: center;
  font-weight: bolder;
}

#halfWidth {
  display: none;
}

#shipping {
  background: linear-gradient(to left, #e6e6fa, #fff0f5);
}
#shipping nav {
  background: linear-gradient(to left, #e6e6fa, #fff0f5);
}

#shippingContainer {
  width: 100%;
  padding: 10px 100px 50px;
}
#shippingContainer .shippingContainer {
  width: 60%;
  margin: auto;
}

.dark {
  font-weight: bold;
}

.hover:hover {
  cursor: pointer;
}

#contactUs nav {
  background: linear-gradient(to right, #afeeee, #f5deb3);
}

#contactBackground {
  position: relative;
  width: 100%;
  padding: 40px 80px;
}
#contactBackground #contactForm {
  position: relative;
  height: 50%;
  width: 100%;
  padding: 50px;
  background: linear-gradient(to left, #afeeee, #f5deb3);
  border-radius: 2rem 2rem 0 0;
}
#contactBackground #contactForm .conForm {
  width: 40%;
}
#contactBackground #contactForm #conForm button {
  width: 50%;
  margin: auto;
}
#contactBackground #contactMessage {
  position: relative;
  height: 50%;
  width: 100%;
  padding: 50px;
  background: linear-gradient(to right, #afeeee, #f5deb3);
  border-radius: 0 0 2rem 2rem;
}
#contactBackground #contactMessage .conMessage {
  width: 50%;
}
#contactBackground #contactMessage .conMessage h1 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
}
#contactBackground #contactMessage .conMessage h3 {
  font-family: "Permanent Marker", cursive;
}
#contactBackground #contactMessage .conMessage .socialMedia i {
  font-size: xx-large;
}
#contactBackground #contactInformation {
  position: absolute;
  width: 30%;
  z-index: 1;
  top: 20%;
  bottom: 20%;
  right: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top, #afeeee, #f5deb3);
  border-radius: 2rem;
}
#contactBackground #contactInformation h2 {
  line-height: 1.6;
  font-family: "Roboto Slab", serif;
}
#contactBackground #contactInformation p {
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
}

/*! import media queries */
@media (max-width: 480px) {
  /*! Mobile screen sizes */
  /*! landing page */
  #row1 .landingBanner {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  #row1 .landingBanner #shoppingLink {
    left: 10px;
    top: 10px;
  }
  #row1 .landingBanner #shoppingLink .landingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }
  #row1 .landingBanner #shoppingLink button .landingButtonText {
    font-size: smaller;
    margin: 0;
  }

  #sectionHeadings {
    margin: 20px 0;
    font-size: large;
  }

  #row2 .sneakPeaks #sneakSets,
#row2 .sneakPeaks #sneakAcc {
    height: 200px;
  }
  #row2 .sneakPeaks #sneakSets button,
#row2 .sneakPeaks #sneakSingles button,
#row2 .sneakPeaks #sneakAcc button {
    font-size: x-small;
    width: 70%;
    height: 30px;
  }

  #row3 {
    width: 100%;
  }
  #row3 .col-lg-3 {
    padding: 0;
  }

  /*! About us page */
  #aboutUs {
    /*! positioning */
    position: relative;
    width: 100%;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    /*! decoration */
    background: linear-gradient(to bottom, #00bfff, #ff69b4);
  }
  #aboutUs .backgroundDec {
    /*! positioning */
    display: none;
  }
  #aboutUs .Image {
    /*! positioning */
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 15px;
    width: 35%;
    height: 25%;
  }
  #aboutUs .Image img {
    border-radius: 25%;
  }
  #aboutUs .auDescription {
    /*! positioning */
    position: relative;
    bottom: 0;
    right: 0;
    width: 90%;
    margin: auto;
    /*! decoration */
    border-radius: 1rem;
    padding: 5px 10px;
  }
  #aboutUs .auDescription .auDescriptionName {
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }
  #aboutUs .auDescription .auDescriptionName h1 {
    font-size: 1.5rem;
  }
  #aboutUs .auDescription .auDescriptionName,
#aboutUs .auDescription .auDescriptionInfo {
    height: 150px;
    padding: 5px 10px;
    text-align: end;
  }
  #aboutUs .zoeImage {
    /*! positioning */
    position: absolute;
    top: 40px;
    bottom: 0;
    right: 15px;
    width: 35%;
    height: 25%;
  }
  #aboutUs .zoeImage img {
    border-radius: 25%;
  }
  #aboutUs .auDescriptionZoe {
    /*! positioning */
    position: relative;
    bottom: 0;
    left: 0;
    width: 90%;
    margin: auto;
    /*! decoration */
    border-radius: 1rem;
    padding: 5px 10px;
  }
  #aboutUs .auDescriptionZoe .auDescriptionName {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    height: 50px;
  }
  #aboutUs .auDescriptionZoe .auDescriptionName h1 {
    font-size: 1.5rem;
  }
  #aboutUs .auDescriptionZoe .auDescriptionName,
#aboutUs .auDescriptionZoe .auDescriptionInfo {
    padding: 5px 10px;
    text-align: start;
  }

  /*! Size chart page */
  #fullWidth {
    display: none;
  }

  #halfWidth {
    display: contents;
  }

  #section1,
#section2 {
    padding: 20px 10px;
  }
  #section1 .headers,
#section2 .headers {
    width: 80%;
  }
  #section1 .headers h1,
#section2 .headers h1 {
    font-size: 3rem;
  }
  #section1 .headers h2,
#section2 .headers h2 {
    font-size: 2rem;
  }

  .text-align-center {
    font-weight: normal;
  }

  /*! Shipping page */
  #shippingContainer {
    width: 100%;
    padding: 30px 10px;
  }
  #shippingContainer .shippingContainer {
    width: 80%;
    margin: auto;
  }

  /*! Contact us page */
  #contactBackground {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  #contactBackground #contactForm {
    position: relative;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #afeeee, #f5deb3);
  }
  #contactBackground #contactForm .conForm {
    padding: 20px 0;
    width: 90%;
    margin: auto;
  }
  #contactBackground #contactForm #conForm button {
    width: 90%;
    margin: auto;
    padding: 4px 6px;
    font-size: 90%;
    font-weight: bold;
  }
  #contactBackground #contactMessage {
    position: relative;
    width: 100%;
    padding: 20px 10px;
  }
  #contactBackground #contactMessage .conMessage {
    text-align: center;
    width: 90%;
    margin: auto;
  }
  #contactBackground #contactMessage .conMessage .socialMedia i {
    padding: 10px 0;
    font-size: x-large;
  }
  #contactBackground #contactInformation {
    position: relative;
    padding: 20px 0;
    width: 90%;
    margin: auto;
    right: 0;
    background: #ffffff;
  }

  /*! Contact us page color */
  #contactUs {
    background: linear-gradient(to right, #afeeee, #f5deb3);
  }
  #contactUs nav {
    background: linear-gradient(to right, #afeeee, #f5deb3);
  }
}
@media (max-width: 1360px) {
  /*! tablet screen sizes */
  /*! landing page */
}
@media (min-width: 1360px) {
  /*! tablet screen sizes */
  /*! landing page */
}

/*# sourceMappingURL=styles.css.map */
