/*! root scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: #f8f9fa;
}

/* all images */
img {
  object-fit: cover;
}

/* navbar */

nav {
  a:hover {
    text-decoration: underline;
  }
}

#slowhaleIcon {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 20%;
}

.active {
  text-decoration: underline;
}

.btn-outline-info:hover {
  background-color: $aqua;
}

/*! Universal styles */

p {
  margin: 0;
}

section {
  position: relative;
}

header {
  border-bottom: 1px solid black;
  padding: 0.5%;
  text-align: center;
  background-color: $aqua;
  color: $black;
}

.hide {
  display: none;
}

.row {
  margin: 0;
}

/*! footer */
#footer {
  position: static;
  display: block;
  bottom: 0;
  width: 100%;
  background: #000;
  color: #fff;
  margin: 30px auto 0;
  padding: 3%;
  text-align: center;
}

/*! social media links */
.socialMedia {
  display: flex;
  justify-content: center;

  i {
    margin: 1% 10px 2%;
  }
}

.socialMedia i:hover {
  cursor: pointer;
}

.fa-facebook-f:hover {
  color: #129cf7;
}

.fa-twitter:hover {
  color: #1d9bf0;
}

.fa-instagram:hover {
  color: #f67340;
}

.fa-pinterest-p:hover {
  color: #b7091b;
}

.fa-youtube:hover {
  color: #ff0100;
}
