@media (max-width: 500px) {
  /*! Mobile screen sizes */
  /*! landing page */

  #row1 {
    .landingBanner {
      width: 100%;
      border-radius: 0;
      margin: 0;

      #shoppingLink {
        left: 10px;
        top: 10px;

        .landingButton {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3%;
        }
        button {
          .landingButtonText {
            font-size: smaller;
            margin: 0;
          }
        }
      }
    }
  }

  #sectionHeadings {
    margin: 20px 0;
    font-size: large;
  }

  #row2 {
    .sneakPeaks {
      #sneakSets,
      #sneakAcc {
        height: 200px;
      }

      #sneakSets,
      #sneakSingles,
      #sneakAcc {
        button {
          font-size: x-small;
          width: 70%;
          height: 30px;
        }
      }
    }
  }

  #row3 {
    width: 100%;

    .col-lg-3 {
      padding: 0;
    }
  }

  /*! Catalogue page */
  #catalogueIcons {
    width: 90%;
    margin: auto;
  }

  /*! About us page */
  #aboutUs {
    /*! positioning */
    position: relative;
    width: 100%;
    // height: 600px;
    padding: 10px 5px;

    display: flex;
    flex-direction: column;

    /*! decoration */
    background: linear-gradient(to bottom, $deepskyblue, $hotpink);
    //   background-color: $aliceblue;

    .backgroundDec {
      /*! positioning */
      display: none;
    }

    #fullScreen {
      /*! positioning */
      display: none;
    }

    #smallScreen {
      display: block;
      float: left;

      z-index: 1;

      width: 100px;
      height: 100px;

      border-radius: 2rem;
    }

    .auContainter {
      .auDescription {
        /*! positioning */
        position: relative;
        bottom: 0;
        right: 0;

        width: 90%;
        margin: auto;
        height: 500px;

        /*! decoration */
        border-radius: 1rem;
        padding: 5px 10px;

        .auDescriptionName {
          justify-content: space-evenly;
          img {
            padding: 0 5px;
          }
          h1 {
            padding: 0 5px;
            text-align: center;
          }
          h1 {
            font-size: 1.5rem;
          }
        }

        .auDescriptionName,
        .auDescriptionInfo {
          height: 150px;
          padding: 5px 10px;
          text-align: end;
        }
      }
    }

    .auContainterZoe {
      /*! decoration */
      border-radius: 1rem;
      padding: 5px 10px;

      .auDescriptionZoe {
        /*! positioning */
        position: relative;

        width: 90%;
        margin: auto;

        height: 500px;

        /*! decoration */
        border-radius: 1rem;
        padding: 5px 10px;

        .auDescriptionName {
          justify-content: space-evenly;

          img {
            padding: 0 5px;
          }

          h1 {
            font-size: 1.5rem;
          }
        }

        .auDescriptionName,
        .auDescriptionInfo {
          height: auto;
          padding: 5px 10px;
          text-align: start;
        }
      }
    }
  }
  /*! Size chart page */
  #fullWidth {
    display: none;
  }

  #halfWidth {
    display: contents;
  }

  #section1,
  #section2 {
    padding: 20px 10px;
    .headers {
      width: 80%;
      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2rem;
      }
    }
  }

  .text-align-center {
    font-weight: normal;
  }

  /*! Shipping page */
  #shippingContainer {
    width: 100%;
    padding: 30px 10px;

    .shippingContainer {
      width: 80%;
      margin: auto;
    }
  }

  /*! Contact us page */
  #contactBackground {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;

    #contactForm {
      position: relative;
      width: 100%;
      padding: 10px;
      background: linear-gradient(to right, $paleturquoise, $wheat);

      .conForm {
        padding: 20px 0;
        width: 90%;
        margin: auto;
      }

      #conForm {
        button {
          width: 90%;
          margin: auto;
          padding: 4px 6px;
          font-size: 90%;
          font-weight: bold;
        }
      }
    }

    #contactMessage {
      position: relative;
      width: 100%;
      padding: 20px 10px;

      .conMessage {
        text-align: center;
        width: 90%;
        margin: auto;

        .socialMedia i {
          padding: 10px 0;
          font-size: x-large;
        }
      }
    }

    #contactInformation {
      position: relative;
      padding: 20px 0;
      width: 90%;
      margin: auto;
      right: 0;
      background: $white;
    }
  }

  /*! Contact us page color */
  #contactUs {
    background: linear-gradient(to right, $paleturquoise, $wheat);
    nav {
      background: linear-gradient(to right, $paleturquoise, $wheat);
    }
  }
}

@media (max-width: 1360px) {
  /*! tablet screen sizes */
  /*! landing page */
}

@media (min-width: 1360px) {
  /*! tablet screen sizes */
  /*! landing page */
}
