@media (max-width: 480px) {
  /*! Mobile screen sizes */
  /*! landing page */

  #row1 {
    .landingBanner {
      width: 100%;
      border-radius: 0;
      margin: 0;

      #shoppingLink {
        left: 10px;
        top: 10px;

        .landingButton {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3%;
        }
        button {
          .landingButtonText {
            font-size: smaller;
            margin: 0;
          }
        }
      }
    }
  }

  // #secondLanding,
  // #thirdLanding {
  //   display: none;
  // }
  #sectionHeadings {
    margin: 20px 0;
    font-size: large;
  }

  #row2 {
    .sneakPeaks {
      #sneakSets,
      #sneakAcc {
        height: 200px;
      }

      #sneakSets,
      #sneakSingles,
      #sneakAcc {
        button {
          font-size: x-small;
          width: 70%;
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  /*! tablet screen sizes */
  /*! landing page */
}

@media (min-width: 1360px) {
  /*! tablet screen sizes */
  /*! landing page */
}
