/*! catalogue page */
/*! Background color */

#catalogue {
  background: linear-gradient(to top, $paleturquoise, $seashell);

  nav {
    background: linear-gradient(to left, $seashell, $seashell);
  }
}

/*! cards */

.card-text {
  margin: 5px 0;
}

.card-img-top {
  width: auto;
  height: 280px;
}

#catalogueIcons {
  .card {
    margin: 30px auto;
  }

  .card:hover {
    background-color: #0000000a;
  }
}

/*! cart icon on the navbar */
.cart {
  margin: 0 20px;
}

/*! End of catalogue Page */
/*!  */
