#landing {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#row1,
#row2,
#row3,
#row4 {
  padding: 0;
}

/*! Sneak Peak */
#row2 {
  width: 90%;
  margin: 0 auto 1%;
  background-color: #fff;
}

/*! About us */
#row3 {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto 3%;
  padding: 5%;
  //   background: #fff;

  div {
    text-align: center;
  }
}

.landingBanner {
  position: relative;
  margin: 1% auto;
  width: 95%;
  overflow-x: hidden;
  padding: 0;
  border: 10px solid #6c757d;
}

.bannerImages img {
  height: 100%;
}

/*! Landing banner */
/*! Images */

#firstLanding,
#secondLanding,
#thirdLanding {
  position: absolute;
  height: 100%;
}

#secondLanding {
  z-index: -1;
  left: 30%;
}

#thirdLanding {
  z-index: -2;
  right: 0;
}

/*! links */
#shoppingLink {
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 60%;
}

#shoppingLink a {
  text-decoration: none;
}

/*! sneak peak */
#column {
  position: relative;
}

#sectionHeadings {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1%;
}

.sneakImage {
  .sneakPeakImages {
    width: 100%;
    height: 100%;
  }
}

#sneakSets,
#sneakSingles,
#sneakAcc {
  height: 600px;
  position: relative;

  button:hover {
    .underline {
      text-decoration: underline;
    }
  }
}

#sneakSingles {
  .tops,
  .bottoms {
    position: relative;
    height: 50%;
  }
}

#sneakSingles {
  .bottoms {
    button {
      left: 20px;
      right: auto;
    }
  }
}

#sneakSets {
  button {
    position: absolute;
    right: 10%;
    bottom: 5%;
  }
}

#sneakAcc {
  button {
    position: absolute;
    right: 25%;
    bottom: 5%;
  }
}

#sneakSingles {
  button {
    position: absolute;
    right: 10%;
    top: 5%;
  }
}

/*! more links sections */
#moreCatalogueLinks {
  position: relative;
  display: block;
}

/*! buttons */
.landingButton {
  height: auto;
  width: auto;
}

.button {
  color: #fff;
  background: #10101e30;
  padding: 1rem;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(255, 255, 255, 0.2));
  transition: 0.5s;
  transition-property: background, box-shadow;
}

.button:hover {
  background: #10101e;
}
