/*! Shipping page styles */
/*! Background color */

#shipping {
  background: linear-gradient(to left, $lavender, $lavenderblush);
  nav {
    background: linear-gradient(to left, $lavender, $lavenderblush);
  }
}
/*! More styles */

#shippingContainer {
  width: 100%;
  padding: 10px 100px 50px;

  .shippingContainer {
    width: 60%;
    margin: auto;
  }
}

.dark {
  font-weight: bold;
}

.hover:hover {
  cursor: pointer;
}

/*! End of Shipping page styles */
/*!  */
