/*! Size Chart Page */
/*! Background color */

#sizeChart {
  background: $ivory;

  nav {
    background: linear-gradient(to left, $ivory, $ivory);
  }
}

/*! More styles */

#section1,
#section2 {
  padding: 30px 20px;
  .headers {
    width: 50%;
    margin: auto;
    text-align: center;

    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-family: "Gideon Roman", cursive;
      font-weight: bold;
    }

    h1,
    h2 {
      font-family: "Permanent Marker", cursive;
    }

    h1,
    h2,
    h3 {
      background: linear-gradient(to left, $orange, $orangered);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .table {
    width: 80%;
    margin: auto;
    background: linear-gradient(to right, $orange, $orangered);
  }
}

#section2 {
  .headers {
    /*! Heading styles */
    h1,
    h2,
    h3 {
      background: linear-gradient(to right, $greenyellow, $green);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  /*! Table styles */
  .table {
    width: 80%;
    margin: auto;
    background: linear-gradient(to left, $greenyellow, $green);
  }
}

.text-align-center {
  text-align: center;
  font-weight: bolder;
}

/*! Responsiveness */

#halfWidth {
  display: none;
}

/*! End of Size chart styles */
/*!  */
